.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  align-items: center;
  height: 100%;
}

.ul-link {
  display: flex;
}

li {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}


@media (max-width: 768px) {
  .ul-link {
    display: none;
  }
}
